.board {
  position: fixed;
  inset: 106px 0px 0px 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 110px;
  background: var(--bg-color-gray);
  gap: 40px;
}

.boardHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 60px;
}

.addTaskButton,
.searchTaskInput {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

.searchTaskAndAddTask,
.searchTask {
  display: flex;
  gap: 32px;
}

.addTaskButton {
  gap: 4px;
  background: var(--main-color-darkblue);
  border: 1px solid var(--main-color-darkblue);
  font-size: var(--font-size-21);
  border-radius: 10px;
  font-weight: var(--font-weight-700);
  color: var(--text-color-white);
  transition: ease-in-out 100ms;
}

.addTaskButton:hover {
  border: 1px solid var(--main-color-lightblue);
  background: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchTaskInput {
  outline: none;
  border: 1px solid var(--text-color-gray);
  border-radius: 10px;
  background-image: url(../img/task-search-divider.svg),
    url(../img/lens-icon.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center right 50px, center right 10px;
  stroke-width: 1px;
  stroke: var(--bg-color-gray);
  min-width: 312px;
  font-size: var(--font-size-20);
}

.taskBoard {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.boardCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 244px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.boardCategory span {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-700);
  color: var(--board-text-color-blue);
}

.taskBoardAddTaskDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--main-color-darkblue);
  gap: 10px;
  height: 20px;
  width: 20px;
  transition: ease-in-out 100ms;
}

.taskBoardAddTaskDiv img {
  padding: 3px;
  transition: ease-in-out 100ms;
}

.taskBoardAddTaskDiv:hover {
  border: 2px solid var(--main-color-lightblue);
}

.taskBoardAddTaskDiv:hover img {
  filter: invert(63%) sepia(34%) saturate(3140%) hue-rotate(165deg)
    brightness(94%) contrast(89%);
}

.noTasksDiv {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px dashed var(--text-color-gray);
  background: var(--board-bg-color-gray);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--text-color-gray);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.toDoTasks,
.inProgressTasks,
.awaitFeedbackTasks,
.doneTasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 65vh;
}

.toDoTaskList,
.inProgressTaskList,
.awaitFeedbackTaskList,
.doneTaskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 500px;
  padding: 10px;
  width: 100%;
}

.taskCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding: 16px;
  border-radius: 24px;
  gap: 24px;
  background: var(--text-color-white);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  max-width: 252px;
}

.taskCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text-color-white);
  padding: 4px 16px;
  border-radius: 8px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.taskContacts {
  display: flex;
}

.taskContact:nth-child(2) {
  margin-left: -12px; 
}

.taskContact:nth-child(3) {
  margin-left: -12px; 
}

.taskContact:nth-child(4) {
  margin-left: -12px; 
}

.taskTitle {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-700);
  color: var(--main-color-darkblue);
}

.taskDescription {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--text-color-gray);
}

.taskProgressContainer {
  display: flex;
  align-items: center;
  padding: 0px 8px 2px 0px;
  align-items: center;
  gap: 11px;
  width: 100%;
}

.taskProgressBar {
  width: 50%;
  height: 8px;
  border-radius: 16px;
  background: var(--board-progressbar-color-blue);
  overflow: hidden;
}

.taskProgressCount {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-400);
}

.taskContactAndPrio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}






