.board {
  position: fixed;
  inset: 106px 0px 0px 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 110px;
  background: var(--bg-color-gray);
}

.boardHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.addTaskButton,
.searchTaskInput {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

.searchTaskAndAddTask,
.searchTask {
  display: flex;
  gap: 32px;
}

.addTaskButton {
  gap: 4px;
  background: var(--main-color-darkblue);
  border: 1px solid var(--main-color-darkblue);
  font-size: 21px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--text-color-white);
  transition: ease-in-out 100ms;
}

.addTaskButton:hover {
  border: 1px solid var(--main-color-lightblue);
  background: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchTaskInput {
  outline: none;
  border: 1px solid var(--text-color-gray);
  border-radius: 10px;
  background-image: url(../img/task-search-divider.svg),
    url(../img/lens-icon.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center right 50px, center right 10px;
  stroke-width: 1px;
  stroke: var(--bg-color-gray);
  min-width: 312px;
  font-size: 20px;
}

.taskBoard {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  height: 55vh;
}

.boardCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 244px;
}

.boardCategory span {
  font-size: 20px;
  font-weight: 700;
  color: var(--board-text-color-blue);
}

.taskBoardAddTaskDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--main-color-darkblue);
  gap: 10px;
  height: 20px;
  width: 20px;
  transition: ease-in-out 100ms;
}

.taskBoardAddTaskDiv img {
  padding: 3px;
  transition: ease-in-out 100ms;
}

.taskBoardAddTaskDiv:hover {
  border: 2px solid var(--main-color-lightblue);
}

.taskBoardAddTaskDiv:hover img {
  filter: invert(63%) sepia(34%) saturate(3140%) hue-rotate(165deg)
    brightness(94%) contrast(89%);
}

.noTasksDiv {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px dashed var(--text-color-gray);
  background: var(--board-bg-color-gray);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--text-color-gray);
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.taskCard {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
