.contacts {
  position: fixed;
  inset: 106px 0px 0px 232px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  background: var(--bg-color-gray);
}

.contactBoard {
  position: relative;
  background: var(--text-color-white);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
  min-width: 410px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 106px);
}

.contactButtonDiv {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 22.5px 52px;
  background: var(--text-color-white);
}

.addNewContactButton {
  display: flex;
  width: 352px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid var(--main-color-darkblue);
  background: var(--main-color-darkblue);
  color: var(--text-color-white);
  font-size: var(--font-size-21);
  font-weight: var(--font-weight-700);
}

.addNewContactButton:hover {
  border: 1px solid var(--main-color-lightblue);
  background: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactList {
  display: flex;
  padding: 0 32px 32px 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.categorySection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactCategoryDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 17px 40px;
}

.letterCategory {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
}

.contactDividerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}

.contactCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  padding: 15px 0 15px 25px;
  align-self: stretch;
  border-radius: 10px;
  flex: 1;
  max-height: 80px;
  box-sizing: border-box;
}

.contactCard:not(.selectedContact):hover {
  background: var(--bg-gradient);
}

.contactInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactNameSpan {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
}

.contactMailSpan {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--main-color-lightblue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.userIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background: var(--border-color-gray);
  border-radius: 50%;
  border: 2px solid var(--text-color-white);
  margin: 50px 50px 0 0;
  color: var(--text-color-white);
  font-weight: var(--font-weight-500);
}

.contactForm,
.contactEditForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-top: 140px;
}

.closeButtonDiv {
  position: absolute;
  top: 70px;
  right: 70px;
  display: flex;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.contactNameDiv,
.contactEmailDiv,
.contactPhoneDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 8px;
}

.nameIconDiv,
.emailIconDiv,
.phoneIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.contactNameInput,
.contactEmailInput,
.contactPhoneInput {
  min-width: 360px;
  border-radius: 10px;
  border: 1px solid var(--border-color-gray);
  padding: 12px 45px 12px 21px;
  background-repeat: no-repeat;
  background-position: right 5% center;
  outline: none;
  font-size: var(--font-size-20);
  direction: ltr;
  text-align: left;
}

.contactNameInvalidDiv,
.contactEmailInvalidDiv,
.contactPhoneInvalidDiv,
.editContactNameInvalidDiv,
.editContactEmailInvalidDiv,
.editContactPhoneInvalidDiv {
  position: absolute;
  color: var(--warning-color-red);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-400);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  top: 52px;
}

.fullanameWarningDiv,
.emailWarningDiv,
.phoneWarningDiv {
  display: none;
  font-size: var(--font-size-20);
  color: var(--warning-color-red);
}

.contactNameInput:focus,
.contactEmailInput:focus,
.contactPhoneInput:focus {
  border: 1px solid var(--main-color-lightblue);
}

.contactHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color-darkblue);
  height: 100%;
  border: 1px solid var(--main-color-darkblue);
  width: 40%;
  border-radius: 30px 0 0 30px;
  gap: 12px;
  margin-left: 0px;
  margin-top: -1px; 
}

.contactHeader {
  color: var(--text-color-white);
  padding: 0 48px;
  word-wrap: break-word;
}

.contactHeader h1 {
  padding-top: 20px;
  font-weight: var(--font-weight-700);
}

.contactHeader h3 {
  font-weight: var(--font-weight-400);
}

.addContactDivider,
.editContactDivider {
  border: 3px solid var(--main-color-lightblue);
  width: 100px;
  margin-left: 45px;
}

.addContact {
  display: flex;
  width: 1212px;
  height: 592px;
  border-radius: 30px;
  background: var(--text-color-white);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.addContactForm,
.editContactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.formAndButtonDiv {
  display: flex;
  flex-direction: column;
}

.addContactButtonDiv,
.editContactButtonDiv {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 64px;
}

.createContactButton,
.saveContactButton {
  color: var(--text-color-white);
  background: var(--main-color-darkblue);
}


.cancelButton,
.deleteButton {
  color: var(--main-color-darkblue);
  background: var(--text-color-white);
  width: 120px;
}

.cancelButton,
.createContactButton,
.deleteButton,
.saveContactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--main-color-darkblue);
  font-size: var(--font-size-20);
  transition: ease-in-out 100ms;
}

.cancelButton img {
  transition: ease-in-out 100ms;
}

.cancelButton:hover,
.deleteButton:hover {
  border: 2px solid var(--main-color-lightblue);
  color: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.selectedContact {
  background-color: var(--main-color-darkblue);
  color: var(--text-color-white);
}

.editContact {
  display: flex;
  width: 1212px;
  height: 592px;
  border-radius: 30px;
  background: var(--text-color-white);
}

.createContactOverlay {
  position: fixed;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  background: var(--main-color-darkblue);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--text-color-white);
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);
}

.contactDetailedInfo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 23px;
}

.detailedView {
  position: relative;
  right: -200%;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: var(--bg-color-gray);
  transition: right 0.3s ease-in-out;
}

.slideIn {
  right: 0;
}

.slideOut {
  right: -200%;
}


.contactHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contactHeadline h1 {
  font-size: 47px;
}

.contactHeadlineSpan {
  font-size: 20px;
}

.contactHeadlineSpan {
  font-size: 27px;
  font-weight: 400;
  color: var(--main-color-darkblue);
}

.floatingContactDiv {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 40px;
}

.floatingContactHeader {
  display: flex;
  align-items: center;
  gap: 54px;
}

.floatingContactUser {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 3px solid var(--text-color-white);
  background: var(--bg-user-initials-color-orange);
  color: var(--text-color-white);
}

.floatingContactUser h2,
.floatingContactName h2 {
  font-weight: 500;
}

.floatingContactEditAndDelete {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--main-color-darkblue);
}

.floatingContactEdit {
  width: 62px;
}

.floatingContactEdit,
.floatingContactDelete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.floatingContactEditImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-edit-icon-darkblue.svg);
}

.floatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-darkblue.svg);
}

.floatingContactEdit:hover .floatingContactEditImage {
  background: url(../img/contact-edit-icon-lightblue.svg);
}

.floatingContactDelete:hover .floatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-lightblue.svg);
}

.floatingContactEdit:hover,
.floatingContactDelete:hover {
  color: var(--main-color-lightblue);
  font-weight: 700;
}

.floatingContactInformation {
  padding: 25px 0;
}

.floatingContactInformation h4 {
  font-weight: 400;
}

.floatingContactDetails {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.floatingContactDetails p {
  font-size: 16px;
  font-weight: 400;
}

.floatingContactEmail,
.floatingContactPhone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.floatingContactEmail a {
  color: var(--main-color-lightblue);
}

.contactsBackImage{ 
  height: 32px;
  width: 32px;
  position: absolute;
  right: 25px;
  top: 96px;
  display: none;
}

@media (max-width: 1250px) { 
  .contacts {
    gap: 40px;
  }

  .addContact {
    width: 1000px;
  }

  .contactHeader h1 {
    font-size: 50px;
  }

  .contactHeader h3 {
    font-size: 22px;
  }

  .userIconDiv {
    margin: 20px 20px 0 0;
  }

  .contactHeadline {
    flex-direction: column;
    gap: 15px;
    align-items: unset;
  }

  .contactHeadlineDivider {
    display: none;
  }

  .contactNameInput,
  .contactEmailInput,
  .contactPhoneInput {
    min-width: 300px;
  }

  .floatingContactUser {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .floatingContactHeader {
    gap: 25px;
    flex-direction: column;
  }

  .floatingContactInformation {
    padding: 25px 0 5px 0;
}

  .floatingContactName h2 {
    font-size: 38px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1000px) {
  .contacts {
    inset: 30px 0px 0px 0px;
  }

  .contactDetailedInfo {
    margin-top: 80px;
  }

  .contactBoard {
    top: 57px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactButtonDiv {
    width: 100%;
    justify-content: center;
    padding: 22.5px 52px 20px 52px;
  }

  .contactList {
    width: 80%;
    margin-bottom: 55px;
  }

  .contactDivider {
    width: 100%;
  }

  .addContact {
    width: 750px;
    height: 750px;
    flex-direction: column;
  }

  .contactHeaderDiv {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    height: 60%;
  }

  .addContactForm {
    width: 100%;
  }

  .contactForm {
    margin-top: 30px;
  }

  .closeButtonDiv {
    background-color: white;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 800px) {

  .contactBoard {
    width: 100%;
    min-width: unset;
    height: 90%;
    z-index: 0;
  }

  .contactDetailedInfo {
    display: none;
  }

  .categorySection {
    width: 100%;
  }

  .contactList {
    display: block;
    padding: 0 20px 32px 20px;
  }

  .contactMailSpan {
    max-width: 200px;
  }

  .contactDividerDiv {
    align-items: normal;
  }

  .addContact {
    max-width: 500px;
  }

  .closeButtonDiv {
    right: 29px;
  }

  .addContactForm {
    flex-direction: column;
  }

  .userIconDiv {
    margin: 0px;
    z-index: 1;
    margin-top: -85px;
}


}

@media (max-width: 500px) {
  .contacts {
    position: absolute;
    inset: 0px 0px 0px 0px;
  }

  .contactList {
    padding: unset;
    width: unset;
  }

  .contactMailSpan {
    max-width: 200px;
  }

  .contactButtonDiv {
    background: unset;
    top: 82%;
    margin-right: 30px;
    justify-content: flex-end;
    padding: 0;
  }

  .addNewContactButton {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .addNewContactButton p {
    display: none;
  }

  
  .addContact {
    max-width: 380px;
  }

  .contactHeader {
    padding: 0 30px;
  }

  .contactHeader img {
    display: none;
  }

  .addContactDivider {
    margin-left: 33px;
  }

  .userIconDiv {
    margin-top: -120px;
  }

  .closeButtonDiv:hover {
    background-color: white;
  }
}
