.contactDetailedInfo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}

.detailedView {
  position: relative;
  right: -200%;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: var(--bg-color-gray);
  transition: right 30ms ease-in-out;
}


.contactHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contactHeadlineSpan {
  font-size: var(--font-size-27);
  font-weight: var(--font-weight-400);
  color: var(--main-color-darkblue);
}

.floatingContactDiv {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 40px;
}

.floatingContactHeader {
  display: flex;
  align-items: center;
  gap: 54px;
}

.floatingContactUser {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 3px solid var(--text-color-white);
  background: var(--bg-user-initials-color-orange);
  color: var(--text-color-white);
}

.floatingContactUser h2,
.floatingContactName h2 {
  font-weight: var(--font-weight-500);
}

.floatingContactEditAndDelete {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--main-color-darkblue);
}

.floatingContactEdit {
  width: 62px;
}

.floatingContactEdit,
.floatingContactDelete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.floatingContactEditImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-edit-icon-darkblue.svg);
}

.floatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-darkblue.svg);
}

.floatingContactEdit:hover .floatingContactEditImage {
  background: url(../img/contact-edit-icon-lightblue.svg);
}

.floatingContactDelete:hover .floatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-lightblue.svg);
}

.floatingContactEdit:hover,
.floatingContactDelete:hover {
  color: var(--main-color-lightblue);
  font-weight: var(--font-weight-700);
}

.floatingContactInformation {
  padding: 25px 0;
}

.floatingContactInformation h4 {
  font-weight: var(--font-weight-400);
}

.floatingContactDetails {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.floatingContactDetails p {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.floatingContactEmail,
.floatingContactPhone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.floatingContactEmail a {
  color: var(--main-color-lightblue);
}


@media (max-width: 800px) {

  .contactBoard {
    width: 100%;
    min-width: unset;
    height: 90%;
    z-index: 0;
  }

  /*.contactDetailedInfo {
    display: none;
  }*/

  .categorySection {
    width: 100%;
  }

  .contactList {
    display: block;
    padding: 0 20px 32px 20px;
  }

  .contactMailSpan {
    max-width: 200px;
  }

  .contactDividerDiv {
    align-items: normal;
  }

  .addContact,
  .editContact {
    max-width: 380px;
    height: 700px;
  }

  .closeButtonDiv {
    right: 29px;
  }

  .addContactForm,
  .editContactForm {
    flex-direction: column;
    margin-top: 25px;
  }

  .userIconDiv {
    margin: 0px;
    z-index: 1;
    margin-top: -85px;
  }
}
