.contactDetailedInfo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
  gap: 40px;
}

.detailedView {
  position: relative;
  right: -200%;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: var(--bg-color-gray);
  transition: right 0.3s ease-in-out;
}

.contactHeadline {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contactHeadline h1 {
  font-size: var(--font-size-47);
}

.contactHeadlineSpan {
  font-size: var(--font-size-27);
  font-weight: var(--font-weight-400);
  color: var(--main-color-darkblue);
}

.floatingContactDiv {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 40px;
}

.floatingContactHeader {
  display: flex;
  align-items: center;
  gap: 54px;
}

.floatingContactUser {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 3px solid var(--text-color-white);
  background: var(--bg-user-initials-color-orange);
  color: var(--text-color-white);
}

.floatingContactUser h2,
.floatingContactName h2 {
  font-weight: var(--font-weight-500);
}

.floatingContactEditAndDelete,
.mobileFloatingContactEditAndDelete {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--main-color-darkblue);
}

.floatingContactEdit,
.mobileFloatingContactEdit {
  width: 62px;
}

.floatingContactEdit,
.floatingContactDelete,
.mobileFloatingContactEdit,
.mobileFloatingContactDelete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobileFloatingContactEditAndDelete {
  flex-direction: column;
  align-items: flex-start;
}

.floatingContactEditImage,
.mobileFloatingContactEditImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-edit-icon-darkblue.svg);
}

.floatingContactDeleteImage,
.mobileFloatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-darkblue.svg);
}

.floatingContactEdit:hover .floatingContactEditImage,
.mobileFloatingContactEdit:hover .mobileFloatingContactEditImage {
  background: url(../img/contact-edit-icon-lightblue.svg);
}

.floatingContactDelete:hover .floatingContactDeleteImage,
.mobileFloatingContactDelete:hover .mobileFloatingContactDeleteImage {
  height: 24px;
  width: 24px;
  background: url(../img/contact-delete-icon-lightblue.svg);
}

.floatingContactEdit:hover,
.floatingContactDelete:hover,
.mobileFloatingContactEdit:hover,
.mobileFloatingContactDelete:hover {
  color: var(--main-color-lightblue);
  font-weight: var(--font-weight-700);
}

.floatingContactInformation {
  padding: 25px 0;
}

.floatingContactInformation h4 {
  font-weight: var(--font-weight-400);
}

.floatingContactDetails {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.floatingContactDetails p {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}

.floatingContactEmail,
.floatingContactPhone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.floatingContactEmail a {
  color: var(--main-color-lightblue);
}

.mobileEditAndDeleteMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 56px;
  width: 56px;
  bottom: 8px;
  right: 8px;
  top: inherit;
  border-radius: 46px;
  background: var(--main-color-darkblue);
}

.mobileEditAndDeleteMenuOverlay {
  position: absolute;
  padding: 10px;
  border-radius: 20px 20px 0px 20px;
  background: var(--text-color-white);
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: right 0.3s ease-in-out;
  bottom: 72px;
  right: 10px;
}

.mobileEditAndDeleteMenuOverlay.show {
  bottom: 72px;
  right: 10px;
}