.login {
  background: var(--bg-color-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loadingImage {
  position: absolute;
  z-index: 100;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.joinLogo {
  object-fit: contain;
  object-position: center;
  animation: logoAnimation 1.5s ease-out forwards;
}

@keyframes logoAnimation {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    z-index: 100;
  }
  100% {
    position: absolute;
    top: 40px;
    left: 40px;
    transform: translate(0, 0);
    width: 100px;
    height: 120px;
  }
}

@keyframes reduceBackground {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5; 
  }

  100% {
    opacity: 0;
  }
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color-white);
  animation: reduceBackground 1.5s ease-out forwards;
}

.signUpArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 35px;
  white-space: nowrap;
  margin-right: 40px;
}

.signUpButton {
  background: var(--main-color-darkblue);
  color: var(--text-color-white);
  border: 1px solid var(--main-color-darkblue);
  border-radius: 8px;
  padding: 15px 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  transition: ease-in-out 100ms;
}

.signUpButton:hover {
  border: 1px solid var(--main-color-lightblue);
  background: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signUpHeader {
  font-weight: 400;
  size: 20px;
}

.loginAreaFullScreenVision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 48px 115px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background: var(--text-color-white);
}

.loginData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.loginText {
  font-weight: 700;
  font-size: 61px;
  text-align: center;
}

.blueStrokeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loginDivider {
  border: 2px solid var(--main-color-lightblue);
  border-radius: 30px;
  width: 150px;
}

.emailInput,
.passwordInput {
  min-width: 380px;
  border-radius: 10px;
  border: 1px solid var(--border-color-gray);
  padding: 12px 21px;
  gap: 10px;
  background-repeat: no-repeat;
  background-position: right 5% center;
  outline: none;
  font-size: 20px;
}

.emailInput {
  background-image: url("../img/mail-icon.svg");
}

.passwordInput {
  background-image: url("../img/lock-icon.svg");
}

.emailInput:focus,
.passwordInput:focus {
  border: 1px solid var(--main-color-lightblue);
}

.emailInput::placeholder,
.passwordInput::placeholder {
  font-weight: 400;
  color: var(--border-color-gray);
}

.checkBox {
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  height: 24px;
}

.checkBoxIconDiv {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.checkBoxIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rememberMeLabel {
  font-weight: 400;
  font-size: 16px;
}

.loginButton {
  gap: 10px;
  background-color: var(--main-color-darkblue);
  color: var(--text-color-white);
}

.loginButton,
.guestLoginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color-darkblue);
  border-radius: 8px;
  padding: 15px 24px;
  font-weight: 700;
  font-size: 20px;
  transition: ease-in-out 100ms;
}

.loginButton:hover {
  background-color: var(--main-color-lightblue);
  border: var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--main-color-lightblue);
}

.guestLoginButton {
  margin: 0 1px 0 1px;
  background: var(--text-color-white);
  color: var(--main-color-darkblue);
  width: 180px;
  height: 60px;
}

.guestLoginButton:hover {
  color: var(--main-color-lightblue);
  border-color: var(--main-color-lightblue);
  border: 2px solid var(--main-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonArea {
  display: flex;
  gap: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.footerLink {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-gray);
  margin: 8px;
}

.footerLink:hover {
  color: var(--main-color-lightblue);
  transform: scale(1.15);
}
