.navBar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 232px;
  z-index: 4;
  background: var(--main-color-darkblue);
  padding: 64px 0;
  font-weight: 400;
}

.navBarMobile {
  display: none;
}

.navBarCategories:hover,
.popupMenu a:hover {
  background: var(--hover-color-darkblue);
}

.privacy:hover,
.legal:hover {
  color: var(--main-color-lightblue);
  font-weight: 700;
}

.navBarCategories:active,
.privacy:active,
.legal:active {
  background: var(--active-color-darkblue);
}

.navBarBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.navBarCategories {
  padding: 8px 56px 8px 56px;
}

.navBarMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}

a {
  color: var(--text-color-white);
}

.navBarCategories h5 {
  font-size: 16px;
  font-weight: 400;
}


.privacyAndLegal {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 242px 0 0;
  width: 100%;
}

.privacy,
.legal {
  color: var(--text-color-gray);
  padding: 8px 60px 8px 60px;
}


@media (max-width: 1000px) {
  .navBarMobile {
    display: flex;
    width: 100%;
    background: #2a3647;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    justify-content: space-evenly;
    max-width: 1000px;
  }

  .navBarBoardMobile {
    display: flex;
    height: 80px;
    align-items: center;
  }

  .navBarMenuMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 75px; 
    height: 75px; 
    justify-content: center;
  }

  .navBarMenuMobile h5 {
    font-weight: normal;
  }

  .navBarActive {
    border-radius: 10px;
  }
}

@media (max-width: 300px) {
  .navBarMobile {
    justify-content: space-around; 
  }

}


