.privacyPolicy {
  position: fixed;
  inset: 106px 0px 0px 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 110px 0 110px;
  background: var(--bg-color-gray);
  overflow-y: auto;
}

.privacyPolicyHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacyPolicySection {
  margin-bottom: 40px;
}

.privacyPolicySection a {
  color: var(--main-color-lightblue);
}

.privacyPolicySection a:hover {
  color: var(--main-color-darkblue);
  font-weight: var(--font-weight-700);
}

.privacyPolicySection li,
.privacyPolicySection h1,
.privacyPolicySection h2,
.privacyPolicySection h3,
.privacyPolicySection h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--main-color-darkblue);
}

@media (max-width: 1000px) {
  .privacyPolicy {
    inset: 0;
    padding: 100px 20px;
  }

  .privacyPolicyHeadline {
    align-items: baseline;
  }

  .privacyPolicyHeadline h1 {
    font-size: 46px;
  }

}
