.summary {
  position: fixed;
  inset: 106px 0px 0px 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 0 0 110px;
  background: var(--bg-color-gray);
  overflow-y: auto;
}

.summary::-webkit-scrollbar {
  width: 0;
}

.summaryHeadline {
  display: flex;
  align-items: center;
  gap: 30px;
}

.summaryBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  min-width: 560px;
}

.summaryBoardWrapper {
  display: flex;
  gap: 28px;
  justify-content: space-between;
  min-width: 100%;
}

.summaryHeadline span {
  font-size: var(--font-size-27);
  color: var(--main-color-darkblue);
}

.urgentDivLeft {
  display: flex;
  gap: 18px;
}

.urgentDivRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.urgentDivider {
  border: 2px solid var(--text-color-gray);
  border-radius: 30px;
  height: 100%;
  margin: 0 61px;
}

.urgentDeadlineDate {
  font-size: var(--font-size-21);
  color: var(--main-color-darkblue);
  font-weight: var(--font-weight-700);
}

.toDoDiv,
.doneDiv {
  gap: 18px;
  padding: 38px 19px;
}

.toDoImage,
.doneDivImage {
  height: 69px;
  width: 69px;
  border-radius: 50%;
}

.toDoImage {
  background: url(../img/summary-pencil-icon.svg) no-repeat;
  background-size: cover;
}

.doneDivImage {
  background: url(../img/summary-check-icon.svg) no-repeat;
  background-size: cover;
}

.toDoDiv,
.doneDiv,
.urgentDiv,
.tasksInBoardDiv,
.tasksInProgressDiv,
.awaitingFeedbackDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-color-white);
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  transition: ease-in-out 250ms;
}

.toDoDiv:hover,
.doneDiv:hover,
.urgentDiv:hover,
.tasksInBoardDiv:hover,
.tasksInProgressDiv:hover,
.awaitingFeedbackDiv:hover {
  background: var(--main-color-darkblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.15);
}

.hoverDiv:hover span,
.hoverDiv:hover p {
  color: var(--text-color-white);
}

.toDoDiv:hover .toDoImage {
  background: url(../img/summary-pencil-icon-white.svg) no-repeat;
}

.doneDiv:hover .doneDivImage {
  background: url(../img/summary-check-icon-white.svg) no-repeat;
}

.toDoAmountDiv,
.doneAmountDiv,
.urgentAmountDiv,
.tasksInBoardAmountDiv,
.tasksInProgressAmountDiv,
.awaitingFeedbackAmountDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-64);
  font-weight: var(--font-weight-600);
  color: var(--main-color-black);
}

.summaryBoard span {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
  color: var(--main-color-darkblue);
  text-align: center;
}

.urgentDiv {
  padding: 28px 0;
  width: 100%;
}

.tasksInBoardDiv,
.tasksInProgressDiv,
.awaitingFeedbackDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.greetingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryBoardAndGreetingDiv {
  display: flex;
}

.greetingDiv {
  margin-left: 80px;
  display: flex;
  align-items: flex-start;
}

.greetingDiv h2 {
  color: var(--main-color-darkblue);
  font-weight: var(--font-weight-500);
}

.greetingSpan {
  font-size: var(--font-size-64);
  color: var(--main-color-lightblue);
  font-weight: var(--font-weight-700);
  text-transform: capitalize;
}

@media (max-width: 1275px) {
  .greetingDiv {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navBar {
    display: none;
  }

  .summary {
    position: fixed;
    left: 0;
    top: 82px;
    bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color-gray);
    padding: 0;
    justify-content: flex-start;
  }

  .summaryHeadline {
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .summaryBoard {
    gap: 14px;
  }
}

@media (max-width: 730px) {
  .greetingDiv {
    display: none;
  }

  .summaryHeadline {
    margin-top: 30px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 40px;
  }

  .summaryHeadline h1 {
    font-size: 47px;
  }

  .summaryHeadline span {
    font-size: 20px;
  }

  .toDoAmountDiv,
  .doneAmountDiv,
  .urgentAmountDiv,
  .tasksInBoardAmountDiv,
  .tasksInProgressAmountDiv,
  .awaitingFeedbackAmountDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 47px;
    font-weight: 600;
    color: var(--main-color-black);
  }

  .toDoDiv:hover,
  .doneDiv:hover,
  .urgentDiv:hover,
  .tasksInBoardDiv:hover,
  .tasksInProgressDiv:hover,
  .awaitingFeedbackDiv:hover {
    background: var(--main-color-darkblue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
  }

  .summaryBoard {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .summary {
    position: fixed;
    left: 0;
    top: 82px;
    bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color-gray);
    padding: 0;
    justify-content: flex-start;
  }

  .summaryBoard {
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: normal;
    min-width: 350px;
  }

  .summaryBoardWrapper {
    display: flex;
    min-width: 50%;
  }

  .toDoDiv,
  .doneDiv {
    gap: 10px;
    padding: 25px 15px;
  }

  .toDoAmountDiv,
  .doneAmountDiv,
  .urgentAmountDiv,
  .tasksInBoardAmountDiv,
  .tasksInProgressAmountDiv,
  .awaitingFeedbackAmountDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: var(--main-color-black);
  }

  .urgentDiv {
    padding: 28px 15px;
    width: 94%;
  }

  .summaryBoardWrapper {
    display: flex;
    gap: 11px;
    min-width: 50%;
  }

  .toDoImage,
  .doneDivImage,
  .urgentDivLeft > img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
}

@media (max-width: 480px) {
  .summaryHeadline {
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .summaryHeadlinedivider {
    display: none;
  }

  .summaryHeadlinedividerMobile {
    display: flex;
    border: 2px solid var(--main-color-lightblue);
    width: 60%;
  }
  .summaryBoard {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    align-items: flex-start;
  }

  .summaryBoardWrapper {
    display: flex;
    min-width: 100%;
  }

  .toDoDiv,
  .doneDiv {
    gap: 10px;
    padding: 15px;
  }

  .urgentDiv {
    padding: 20px 10px;
    width: 95%;
  }

  .urgentDivider {
    margin: 0 20px;
  }

  .summaryBoard span {
    font-size: var(--font-size-16);
  }

  .urgentDeadlineDate {
    font-size: var(--font-size-16);
  }
}

@media (max-width: 400px) {
  .summaryBoard {
    min-width: 80%;
  }

}

